#baner
{
    background-color: #1C59A7;
    color: white;
    text-align: center;
    height: 80px;
}

#lewy
{
    background-color: #3A70B5;
    width: 33%;
    height: 200px;
    float: left;
}

#srodkowy
{
    background-color: #3A70B5;
    width: 33%;
    height: 200px;
    float: left;
}

#prawy
{
    background-color: #86ACDD;
    text-align: center;
    height: 200px;
    width: 34%;
    float: right;
}

#dolny
{
    background-color: #86ACDD;
    text-align: center;
    height: 300px;
}

#stopka
{
    background-color: #1C59A7;
    color: white;
}

.regulamin
{
    background-color: yellow;
    color: blue;
    padding: 10px;
}